body{
  font-family: Arial, Helvetica, sans-serif;
}

.top-div{
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title{
  font-size: 50px;
}

.middle-div{
  
  display: flex;
  justify-content: center;
}

.input{
  margin: 40px;
  margin-right: -100px;
  border-radius: 30px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  border-width: 0;
  background-color: rgb(209, 209, 209);
}


.add-div{
  position: relative;
  margin-top: 41px;
  
}
.add{
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border-width: 0;
  background-color: rgb(255, 101, 84);
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
}

.add:active{
  background-color:  rgb(255, 71, 50);
}



.delete{
  background-color: white;
  border: none;
  border-radius: 20px;
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
}


.delete:hover{
  background-color: gainsboro;
  transition: 0.2s;
}

.delete:active{
  background-color: rgb(170, 170, 170);
}



.bottom-input{
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr ;
  row-gap: 10px;

  
}

.task-div{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-left: 50px;
 
}

.task-thing{
  border-width: 5px;
  border-color: white;
  border-style:solid;
  
}

.task-text{
  margin-left: -50px;
  width: 400px;
}

.checkbox{
  
}